<div class="main">
    <header>
        <nav class="navbar navbar-expand-md  navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand"><img src="https://lh3.googleusercontent.com/proxy/MEcbvT9QCEo-BOPDLRueiYk5e7v62tV5BECnKjVornHHpI6UVFe0lQUDws7WgLInrftNfuXa_6Ctv15u0ns8kRxfuZoz4YFDXg" alt="logo"></a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a id="main" class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="right" class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
                    
                </li>
                <li class="nav-item">
                    <a id="left" class="nav-link" routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
<div class="card">
    <form (ngSubmit)="userlogin()" class="form" [formGroup]="loginForm"> 
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class='table table-borderless'>
                    <br><tr>
                        <td><label>Project Name:</label></td>
                        <td> <select formControlName='projectName' class="form-control" (change)="changeteam($event)">
                            <option *ngFor="let project of projectname" [value]="project">
                                  
                                {{project}}
                              </option>
                            </select></td>
                    </tr>
                        <tr>
                            <td><label>Email:</label></td>
                            <td><input type="email" [class.is-invalid]="loginForm.get('email').invalid &&
                                loginForm.get('email').touched" name="p_mail" formControlName='email' class="form-control"  [(ngModel)]="users.email" required>
                            <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                                <small *ngIf="loginForm.get('email').errors?.required" class="text-danger">Email cannot be Empty</small><br>
                                <small *ngIf="loginForm.get('email').errors?.pattern" class="text-danger">Enter a Vaild Email</small>
                            </div>
                            </td>
                        </tr><br>
                        <tr>
                            <td><label>Password</label></td>
                            <td><input type="password" [class.is-invalid]="loginForm.get('password').invalid &&
                                loginForm.get('password').touched" name="p_password" formControlName='password' class="form-control"  [(ngModel)]="users.password" required>
                                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                                    <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">Password cannot be Empty</small><br>
                                    <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">Minimum 8 characters</small>
                                </div>
                            </td>
                        </tr><br>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="button2" [disabled] = "loginForm.invalid" class="btn btn-success" value="Log In">
                               
                        </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="reg">Not a Registered User? <br><a id="nxt"  routerLink="/signup">Register </a></td>
                        </tr>
                </table>
            </div>
        </div>
    </form>
</div>
</div>

