div{
  /* border: 1px solid red; */
}
a{
  font-size: 20px;
  margin: 20px;
}
.contain{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFurB29JEiu79EnkGf7yFHxSLqOtMfndBhglYU0phSbx9e8vI&s');
  background-size: cover;
  background-position: center;
  height: 1200px;
 
}
#imag{
  height:50px;
  width:150px;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  
}
.navbar{
  /* background-color:transparent; */
  background-color: rgba(255, 255, 255, 0.692) ;
}
.navbar-toggler button,.navbar-toggler-icon{
  background-color: navy;
}
.nav-item a{
  float:right;
  padding: 5px;
  margin: 8px;
  font-size: 20px;
  color: rgb(26, 26, 168);
  font-weight: bold;
} 
.heading{
  color: rgb(89, 31, 247);
  text-shadow: 1px 1px #f3f0f0;
  font-size: 72px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}
.disply{
  margin: 0% 10% 0% 10%;
}
.disply td{
  font-size: 20px;
  color: black;
}
.disply th{
  font-size: 25px;
}
#head{
  color: rgb(202, 8, 228);
  text-shadow: 2px 2px #f7f4f4;
  font-size: 80px;
  text-align: center;
}
#name{
 
  color: rgb(61, 97, 4);
  text-shadow: 1px 1px #f3f0f0;
  font-size: 40px;
  text-align: left;
  margin-left: 50px;
}