
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 Proposed" >
            <h2>Proposed</h2>
            <div class="update">
                <router-outlet></router-outlet>
            </div>
            <div class="card" *ngFor='let task of tasks'>
                <div class="card-header" >
                    <h1>{{task.taskid}}</h1>
                </div>
                <div class="card-body">
                    <label>{{task.task}}</label><br>
                    <label class="use">{{task.user}}</label><br>
                    <label>{{task.date}}</label>
                    <br>
                    
                        <a routerLink="/manager/show/update/{{task._id}}" id="edit"><span class="glyphicon glyphicon-pencil"></span></a> 
                      <button (click)="deleteProduct(task._id)" id="delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 prog">
            <h2 id="prog">In Progress</h2>
            <div class="card" *ngFor='let progres of progreses'>
                <div class="card-header" id="prog">
                    <h1>{{progres.taskid}}</h1>
                </div>
                <div class="card-body">
                    <label>{{progres.task}}</label><br>
                    <label class="use">{{progres.user}}</label><br>
                    <label>{{progres.date}}</label><br>
                    <label>{{progres.status}}</label><br>
                </div>
            </div>
        </div>
        <div class="col-sm-3 completed">
            <h2 id="com">Completed</h2>
            <div class="card" *ngFor='let complete of completed'>
                <div class="card-header" id="com">
                    <h1>{{complete.taskid}}</h1>
                </div>
                <div class="card-body">
                    <label>{{complete.task}}</label><br>
                    <label class="use">{{complete.user}}</label><br>
                    <label>{{complete.date}}</label><br>
                    <label>{{complete.completed}}</label><br>
                </div>
            </div>
        </div>
        <div class="col-sm-3 rejected">
            <h2 id="rej">Rejected</h2>
            <div class="card" *ngFor='let reject of rejected' >
                <div class="card-header" id="rej">
                    <h1>{{reject.taskid}}</h1>
                </div>
                <div class="card-body">
                    <label>{{reject.task}}</label><br>
                    <label class="use">{{reject.user}}</label><br>
                    <label>{{reject.date}}</label><br>
                    <label>{{reject.status}}</label><br>
                </div>
            </div>
        </div>
    </div>
</div>
